@model Codex.Models.ApplicationUser

<div class="card">
    <div class="row no-gutters">
        @*display profile picture*@
        <div class="col-md-4">
            <img src="@Model.ProfilePhoto" class="card-img" style="width: 150px; height: 150px;" alt="Profile Picture">
        </div>

        @*display info*@
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Email: @Model.Email</p>

                @*if the user has set any favorite books then we display them*@
                @if(Model.FavoriteBooks != null)
                {
                    <h5>@Model.Name's Favorite Books</h5>
                }

                @*display shelves*@
                @if(Model.Shelves != null)
                {
                    <h5>@Model.Name's Books</h5>
                    <ul>
                        @foreach(var shelf in @Model.Shelves)
                        {
                            <li>@shelf.Name</li>
                        }
                    </ul>

                }

            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col">
                <a href="@Url.Action("Edit", "Users", new { id = Model.Id })" class="btn btn-outline-secondary">Edit Profile</a>
            </div>
            <div class="col">
                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
       
    </div>
</div>