@model Codex.Models.ApplicationUser

<div class="card">
    <div class="row no-gutters">
        @*display profile picture*@
        <div class="col-md-4">
            <img src="@Model.ProfilePhoto" class="card-img" style="width: 150px; height: 150px;" alt="Profile Picture">
        </div>

        @*display info*@
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Email: @Model.Email</p>

                @*if the user has set any favorite books then we display them*@
                @if (Model.FavoriteBooks != null)
                {
                    <h5>@Model.Name's Favorite Books</h5>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                @*display books in carousel*@
                                <div id="favoriteBooksCarousel" class="carousel slide" data-ride="carousel" style="max-width: 230px; height: auto;">

                                    @*display the book cover on the slide and the title and author in the caption*@
                                    <div class="carousel-inner">
                                        @foreach (var favoriteBook in Model.FavoriteBooks)
                                        {
                                            @*first item is set to active (it should be displaied initially)*@
                                            @if (favoriteBook.BookId == Model.FavoriteBooks.First().BookId)
                                            {
                                                <div class="carousel-item active">
                                                    <img src="@favoriteBook.CoverImage" class="d-block w-100" alt="@favoriteBook.Title cover image" />
                                                    <div class="carousel-caption dd-none d-md-block">
                                                        <h5>@favoriteBook.Title</h5>
                                                        <p>by @favoriteBook.Author</p>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="carousel-item">
                                                    <img src="@favoriteBook.CoverImage" class="d-block w-100" alt="@favoriteBook.Title cover image" />
                                                    <div class="carousel-caption dd-none d-md-block">
                                                        <h5>@favoriteBook.Title</h5>
                                                        <p>by @favoriteBook.Author</p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>

                                    @*display arrows for navigation*@
                                    <a class="carousel-control-prev" href="#favoriteBooksCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        @*  <span class="sr-only">Previous</span> *@
                                    </a>
                                    <a class="carousel-control-next" href="#favoriteBooksCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        @* <span class="sr-only">Next</span> *@
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col">
                <a href="@Url.Action("Edit", "Users", new { id = Model.Id })" class="btn btn-outline-secondary">Edit Profile</a>
            </div>
            <div class="col">
                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    // when the prevoius arrow is clicked go to the previous slide of the favoriteBooksCarousel
    $('.carousel-control-prev').click(function (element) {
        // default behavior is to go to a url, prevent it
        element.preventDefault();

        // get carousel, go to previous slide
        $('#favoriteBooksCarousel').carousel('prev');
    });

    //when the next arrow is clicked go to the next slide  of the favoriteBooksCarousel
    $('.carousel-control-next').click(function (element) {
        // default behavior is to go to a url, prevent it
        element.preventDefault();

        // get carousel, go to next slide
        $('#favoriteBooksCarousel').carousel('next');
    });
</script>