@model Codex.Models.Book

<h2>Add a new book to the Codex database!</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="post" action="/books/new">
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter the title"/>
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    </div>
    <br/>

    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" type="text" class="form-control" placeholder="Author's name" />
        @Html.ValidationMessageFor(m => m.Author, null, new { @class = "text-danger" })
    </div>
    <br />

    <label>Genre:</label>
    @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.GenreOptions, "Value", "Text"),
            "Select genre", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Genre, null, new { @class = "text-danger" })
    <br />

    <div class="form-group">
        <label asp-for="Synopsis">Synopsis:</label>
        <textarea asp-for="Synopsis" class="form-control" rows="3" placeholder="Enter synopsis"></textarea>
        @Html.ValidationMessageFor(m => m.Synopsis, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <label asp-for="PublicationDate">Publication Date:</label>
        <input asp-for ="PublicationDate" type="date" class="form-control"/>
        @Html.ValidationMessageFor(m => m.PublicationDate, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <label asp-for="CoverImage">Cover Image:</label>
        <input asp-for="CoverImage" type="text" class="form-control" placeholder="Enter the link to the cover image" />
        @Html.ValidationMessageFor(m => m.CoverImage, null, new { @class = "text-danger" })
    </div>
    <br />

    <button type="submit" class="btn btn-light">Add book!</button>
</form>
