@model Codex.Models.Book

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%; position: sticky; top: 0;">
            <img src="@Model.CoverImage" alt="@Model.Title Cover Image" style="max-width: 100%; height: auto;" />
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4>
                <h5 class="card-subtitle mb-2 text-muted">by @Model.Author</h5>
            </div>
        </div>
    </div>

    <div class="col-md-8" style="overflow-y: auto; max-height: 80vh; padding-left: 20px;">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Rating: @Model.Rating</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Synopsis</h5>
                <p class="card-text">@Model.Synopsis</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Publication Date</h5>
                <p class="card-text">@Model.PublicationDate</p>
            </div>
            
            <div class="card-footer">
                <a href="/Edit/@Model.BookId" class="btn btn-outline-secondary">Edit</a>

                <form method="post" action="/Books/Delete/@Model.BookId">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
               
            </div>
        </div>
    </div>
</div>
