@model Codex.Models.ReadingBadge

<h2>Edit the @Model.Name reading badge</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="post" action="/readingbadges/edit/@Model.BadgeId">
    <div class="form-group">
        <label asp-for="Name">The name of the badge:</label>
        <input asp-for="Name" type="text" class="form-control" value="@Model.Name" />
        @Html.ValidationMessageFor(m => m.Name, "The badge name is required!", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Description">The description of the badge:</label>
        <textarea asp-for="Description" class="form-control" >@Model.Description</textarea>
        @Html.ValidationMessageFor(m => m.Description, "The description of the badge is required!", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Image">The url of the image for the badge:</label>
        <input asp-for="Image" type="text" class="form-control" value="@Model.Image" />
        @Html.ValidationMessageFor(m => m.Image, "The url of the image for the badge is required!", new { @class = "text-danger" })
    </div>
    <br />

    <button type="submit" class="btn btn-outline-secondary">Edit reading badge!</button>
</form>